<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .content {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="content">
        <img src="data:image/jpeg;base64,{{ response }}" alt="Video Thumbnail" style="max-width: 300px; max-height: 300px;">
        <p>{{ title }}</p>
        <div>
            <a href="{% url 'download_video' %}?url={{ video_url }}" id="" class="btn btn-primary">Download Video</a>
        </div>
    </div>
</body>
</html>
